// Text Styling.
@font-face {
  font-family: Excellence_Bold;
  src: url(../fonts/Excellence_Bold.ttf);
}

@font-face {
  font-family: Excellence_Med;
  src: url(../fonts/Excellence_Medium.ttf);

}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);

}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);

}

.navbar{
  border-bottom: 1px solid rgba(1,1,1,.2);
}

.nav-item{
  font-family: OpenSansBold,sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}