$colors: (
        main-blue: #051039,
);
$TITLE_SIZE: 38px;
$SUBTITLE_SIZE: 32px;
$CONTENT_FONT_SIZE: 24px;

body {
    margin: 0;
}


// Text Styling.
@font-face {
    font-family: Excellence_Bold;
    src: url(../fonts/Excellence_Bold.ttf);
}

@font-face {
    font-family: Excellence_Med;
    src: url(../fonts/Excellence_Medium.ttf);

}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);

}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);

}

.title-banner{
    font-size: $TITLE_SIZE;
    color: map_get($colors, main-blue);
    line-height: 34px;
    font-family: "Excellence_Bold", sans-serif;

}


.subtitle-banner{
    font-size: $SUBTITLE_SIZE;
    color: map_get($colors, main-blue);
    line-height: 32px;
    font-family: "Excellence_Med", sans-serif;

}


.content-subtitle{
    color: map_get($colors, main-blue);
    font-family: OpenSans, sans-serif;

}

.content-text{
    color: map_get($colors, main-blue);
    font-family: OpenSans, sans-serif;

}


.hr-delimiter{
    border: 1px solid black;
    opacity: .1;
}


// Sizing.
.content-delimiter{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
