body {
    margin: 0;
}

@font-face {
    font-family: Excellence_Bold;
    src: url(../fonts/Excellence_Bold.ttf);
}

@font-face {
    font-family: Excellence_Med;
    src: url(../fonts/Excellence_Medium.ttf);
}

.open-reg {
    font-family: 'Open Sans', sans-serif;
}

.exe_Bold {
    font-family: Excellence_Bold;
}

.exe_Med {
    font-family: Excellence_Med;
}


.fs94 {
    font-size: 94px;
}

.fs70 {
    font-size: 70px;
}

.fs62 {
    font-size: 62px;
}

.fs60 {
    font-size: 60px;
}

.fs43 {
    font-size: 43px;
}

.fs42 {
    font-size: 42px;
}

.fs39 {
    font-size: 39px;
}

.fs35 {
    font-size: 35px;
}

.fs30 {
    font-size: 30px;
}

.fs28 {
    font-size: 28px;
}

.fs26 {
    font-size: 26px;
}

.fs24 {
    font-size: 24px;
}

.fs23 {
    font-size: 23px;
}

.fs22 {
    font-size: 22px;
}

.fs20 {
    font-size: 20px;
}

.fs18 {
    font-size: 18px;
}

.fs16 {
    font-size: 16px;
}

.fs13 {
    font-size: 13px;
}

.fs12 {
    font-size: 12px;
}

.fs10 {
    font-size: 10px;
}

.content-delimiter {
    color: #051039;
    .main-container {

        .banner-section {
            .title-banner {}

            .subtitle-banner {}

            .text-banner {}
        }

        .mid-section {
            .align-items-center {
                .c-video {
                    border: 1px solid red;
                    width: 100%;
                    max-width: 500px;
                    margin: 0 auto;
                }
            }


            .c-points-mid-section {
                .container-points {
                    .col-md-12 {
                        .button-share-mobile {
                            display: none;


                            @media (max-width: 768px) {
                                display: block;
                                border: 1px solid red;
                                width: 100%;
                                max-width: 500px;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }

                    .title-points {}

                    .description-points {}

                    .cont-tree-points {
                        .item-points {
                            .number {}

                            .description {}
                        }
                    }

                    .col-md-12 {
                        .button-share {
                            display: block;
                            text-align: center;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 500px;
                            border: 1px solid red;

                            @media (max-width: 768px) {
                                display: none;
                            }

                        }
                    }
                }
            }

        }

        .bottom-section {

            .bottom-title {}

            .bottom-list {
                span {}

                ul {
                    li {}
                }

                ol {
                    li {}
                }
            }
        }

        .bottom-legal {}
    }
}